h3 {
        color:crimson
}
h2 { 
        color: crimson

}
h1{
        font-size: 50px;
}
c2 {
        color: tomato



}

c2{

        background-image: initial;
}

/***.bg {
        background-image: url("calculo/calculo.jpg");
}
***/