body{

        background-image: url(/img/cafe.jpg);
        background-size: 100%  100%;
}
h3 {
        color:crimson;
        font-family: sans-serif;
}
h2 { 
        color: crimson

}
h1{
        font-size: 50px;
}
c2 {
        color: tomato;



}

c2{

        background-image: initial;
}

.bg {
        background-image: url(/img/div2.jpg);
        background-size: 100% 100%;


}

edit1{
        color: black;
        opacity: 0.5;
        

}
p{
        color: black;
        font-family: sans-serif;



}